#include "resource.h"
#include <winres.h>

IDI_APPICON ICON "..\\Assets\\Icon\\APBConfigTool.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "writch\0"
            VALUE "FileDescription", "APB Config Tool\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "APBConfigHelper\0"
            VALUE "OriginalFilename", "APBConfigHelper.exe\0"
            VALUE "ProductName", "APB Config Tool\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

IDR_FONT_BENTONSANS_REGULAR RCDATA "..\\Assets\\fonts\\BentonSans-Regular.ttf"
IDR_FONT_HELVETICA_BOLD     RCDATA "..\\Assets\\fonts\\Helvetica Bold.ttf"
IDR_FONT_HELVETICA_REGULAR  RCDATA "..\\Assets\\fonts\\Helvetica Regular.otf"

IDR_IMG_VEHICLE_COYWOLF  RCDATA "..\\Assets\\Images_VehicleItemTypes\\coywolf.png"
IDR_IMG_VEHICLE_MIRAGE   RCDATA "..\\Assets\\Images_VehicleItemTypes\\mirage.png"
IDR_IMG_VEHICLE_PIONEER  RCDATA "..\\Assets\\Images_VehicleItemTypes\\pioneer.png"
IDR_IMG_VEHICLE_VEGAS    RCDATA "..\\Assets\\Images_VehicleItemTypes\\vegas.png"

IDR_IMG_WEAPON_FRAG      RCDATA "..\\Assets\\Images_WeaponItemTypes\\frag_weapon_desc.png"
IDR_IMG_WEAPON_OSMAW     RCDATA "..\\Assets\\Images_WeaponItemTypes\\osmaw_weapon_desc.png"
IDR_IMG_WEAPON_STABBANL9 RCDATA "..\\Assets\\Images_WeaponItemTypes\\stabbanl9_weapon_desc.png"
IDR_IMG_WEAPON_UL3       RCDATA "..\\Assets\\Images_WeaponItemTypes\\ul3_weapon_desc.png"

IDR_IMG_PLAYER_ROLE_GUNSLINGER   RCDATA "..\\Assets\\Images_PlayerRoles\\gunslinger.png"
IDR_IMG_PLAYER_ROLE_RIFLEMAN     RCDATA "..\\Assets\\Images_PlayerRoles\\rifleman.png"
IDR_IMG_PLAYER_ROLE_GRAFFITI     RCDATA "..\\Assets\\Images_PlayerRoles\\graffiti.png"
IDR_IMG_PLAYER_ROLE_EPIDEMIC2024 RCDATA "..\\Assets\\Images_PlayerRoles\\epidemic_2024.png"
IDR_IMG_PLAYER_ROLE_GRAFFITI_SHORT RCDATA "..\\Assets\\Images_PlayerRoles\\graffiti_short.png"

IDR_IMG_CONTACT_UNLOCKS_ARLON   RCDATA "..\\Assets\\Images_Contacts\\Unlocks_Arlon.png"
IDR_IMG_CONTACT_UNLOCKS_BIRTH   RCDATA "..\\Assets\\Images_Contacts\\Unlocks_Birth.png"
IDR_IMG_CONTACT_UNLOCKS_LUCAS   RCDATA "..\\Assets\\Images_Contacts\\Unlocks_Lucas.png"
IDR_IMG_CONTACT_UNLOCKS_BRITNEY RCDATA "..\\Assets\\Images_Contacts\\Unlocks_Britney.png"

IDR_IMG_CONTACT_MISSIONS_BIRTH  RCDATA "..\\Assets\\Images_Contacts\\Missions_Birth.png"
IDR_IMG_CONTACT_MISSIONS_TIPTOE RCDATA "..\\Assets\\Images_Contacts\\Missions_Tiptoe.png"
IDR_IMG_CONTACT_MISSIONS_MIGUEL RCDATA "..\\Assets\\Images_Contacts\\Missions_Miguel.png"
IDR_IMG_CONTACT_MISSIONS_CHIZA  RCDATA "..\\Assets\\Images_Contacts\\Missions_Chiza.png"
